name: Deploy Frontend
on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - run: docker build -t frontend-test-image -f dockerfile.dev . 
            - run: docker run -e CI=true frontend-test-image npm test 
            
            - name: Generate deployment package
              run: zip -r deploy.zip . -x '*.git'
            
            - name: Deploy to EB
              uses: einaregilsson/beanstalk-deploy@v18
              with:
                application_name: frontend
                environment_name: Frontend-env
                existing_bucket_name: elasticbeanstalk-us-east-1-065160457647
                region: us-east-1
                version_label: ${{ github.sha }}
                deployment_package: deploy.zip

